.parallax {
    background-image: url("https://cdn.pixabay.com/photo/2023/06/05/01/53/kitten-8041226_1280.jpg");
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scroll {
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/030/471/439/small_2x/cute-puppy-with-blue-sky-and-clouds-on-the-background-ai-generated-photo.jpg");
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    font-size: 50px;
}
