body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

table {
    width: 100vw;
    height: 100vh;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);

}
#t_1 {
    background-color: aquamarine;
}
#t_2 {
    background-color: blueviolet;
}
